*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bright-yellow: #FFA953;
  --mid-yellow: #E3924C;
  --bg-mid-yellow: #ffeedf;
  --dark-blue: #113F51;
  --bg-light-blue: #effbff;
  --begtodif-red: #D40000;
  --hover-black: rgba(0,0,0,.85);
  --fools-cyan: #3dc1c1;
  --fools-purple: #752d75;
  --fox-green: #00be2c;
  --luna-light: #019ac1;
  --luna-dark: #162d50;

  --round-corners: .25rem;

  --drop-shadow: 0 20px 10px -15px rgba(0,0,0,.3);

  --link-hover: -.2em;

  --side-padding: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--bg-light-blue);
}

a {
  text-decoration: none;
}

/*********** TYPOGRAPHY STYLES ***********/

h1 {
  font-family: 'Allan', cursive;
}

h2, h3, li, a, label {
  font-family: 'Squada One', cursive;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 2px;
  line-height: .8;
}

p, input, textarea, small {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

/************ GENERIC STYLES ************/

.logo {
  width: 2.5rem;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
}

.section {
  padding: 0 var(--side-padding) 20rem;
  width: 100%;
  min-height: 100vh;
  background-size: contain;
}

.section-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 19rem;
}

.section-content {
  min-height: 100vh;
  position: relative;
}


.design-name,
.subtitle {
  position: sticky;
  top: 3rem;
  margin-bottom: 18rem;
}

.design-details {
  
  text-align: center;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 75vh;
  margin: 0 auto;
}

.design-details ul {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.design-details-item {
  list-style-type: none;
  line-height: 1.4;
  margin: .05em auto;
  width: 100%;
}

.card {
  color: white;
  background-color: var(--hover-black);
  position: absolute;
  /* max-width: 500px; */
  top: -65vh;
  left: 0;
  right: 0;
  bottom: 27vh;
  text-align: left;
  margin: 0 auto;
  padding: .5em;
  border-radius: var(--round-corners);
  transform: scale(0, 1);
  transform-origin: bottom;
  transition: transform .3s ease-in-out;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: .25em;
}

.card-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-size: 1.5rem;
  pointer-events: none;
}

.card-desc {
  grid-column: 1 / -2;
  grid-row: 2 / 4;
  font-size: .8rem;
  align-self: start;
}

.look-card-desc {
  grid-column: 1 / -4;
}

.mockup,
.design-elements {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.look-port-1 {
  grid-column: -3 / -1;
  grid-row: 1 / 5;
}

.look-port-2 {
  grid-column: 1 / 3;
  grid-row: 4 / -4;
}

.look-port-3 {
  grid-column: -1 / -4;
  grid-row: -1 / -7;
}

.look-land-1 {
  grid-column: 3 / -1;
  grid-row: 5 / 7;
}

.look-land-2 {
  grid-column: 1 / 4;
  grid-row: -1 / -4;
}

.design-land-1 {
  grid-column: 1 / 5;
  grid-row: 4 / 8;
}

.design-land-2 {
  grid-column: -4 / -1;
  grid-row: -1 / -4;
}

.design-port-1 {
  grid-column: 5 / 6;
  grid-row: 4 / 6;
}

.design-port-2 {
  grid-column: 5 / 7;
  grid-row: -8 / -4;
}

.design-port-3 {
  grid-column: 4 / 5;
  grid-row: 8 / 10;
}
.design-port-4 {
  grid-column: 1 / 4;
  grid-row: -1 / -6;
}

.card-text {
  font-size: .8rem;
  line-height: 1.5em;
  pointer-events: none;
}

.card::before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-top: 1.1em solid var(--hover-black);
  border-left: .8em solid transparent;
  border-right: .8em solid transparent;
  bottom: -1.05em;
  left: 50%;
  transform: translateX(-50%);
}

.card-story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.design-details-item:hover,
.design-details-item:focus {
  color: var(--hover-black);
  cursor: pointer;
}

.design-details-item:hover .card,
.design-details-item:focus .card {
  transform: scale(1, 1);
  cursor: auto;
}

/********************** CTA BUTTONS **********************/

.cta-cont {
  /* position: sticky;
  top: 90vh; */
  margin: 0 auto 2rem;
  display: flex;
  justify-content: space-evenly;
}

.cta {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 1000px;
  padding: .75em 2em;
  margin-bottom: 1em;
  transition: all .25s ease-in;
}

.cta:hover,
.cta:focus,
.form-send:hover,
.form-send:focus {
  background-color: var(--mid-yellow);
  color: var(--dark-blue);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
}

.cta-primary {
  background-color: var(--bright-yellow);
  color: var(--dark-blue);
}

.cta-secondary {
  background-color: var(--dark-blue);
  color: var(--bright-yellow);
}

/************ HERO SECTION STYLES ************/

.hero {
  background: var(--bright-yellow) url('../assets/bg/blank-shirt-png.png') fixed no-repeat center;
  background-size: contain;
  background-blend-mode: multiply;
}

.hero h1, .hero h2, .hero p, .hero span {
  color: var(--dark-blue);
}

.hero span {
  display: block;
  text-align: center;
  font-size: 2rem;
  padding: 0 0 48.5vh;
  animation: scrollUp 1s alternate .8s infinite ease-in;
}

@keyframes scrollUp {
  100% {transform: translateY(5rem);}
}

.hero .scroll {
  /* padding: 0 0 calc(60vh - 5rem); */
  padding: 30vh 0 1rem;
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 1rem;
  margin-bottom: 3.5rem;
}

.hero-logo { 
  fill: var(--dark-blue);
  position: sticky;
  top: 1rem;
}

.hero-text {
  text-align: center;
}

.hero .girl,
.hero .boy {
  position: sticky;
}

.hero .girl {
  top: 6rem;
  padding: 20vh 0 1.5rem;
}

.hero .boy {
  top: 13rem;
  padding: 40vh 0 0;
}


/************ BEG TO DIFFER STYLES ************/

.begtodif-bg {
  /* background: #D40000 url('../assets/bg/blank-shirt-png.png') fixed no-repeat center; */
  background: url(assets/bg/begtodif\ simple\ tshirt\ portrait.png) fixed no-repeat center;
  background-size: contain;
}

.begtodif {
  /* color: white; */
  color: var(--dark-blue);
}

.begtodif-logo {
  /* fill: white; */
  fill: var(--dark-blue);
}


/************ WHAT THE FOX STYLES ************/

.fox-bg {
  /* background: white url('../assets/bg/blank-shirt-png.png') fixed no-repeat center; */
  background: url(assets/bg/fox\ simple\ tshirt\ portrait.png) fixed no-repeat center;
  background-size: contain;
}

.fox {
  color: var(--fox-green);
}

.fox-logo {
  fill: var(--fox-green);
}

/* CARD GRID STUFF */

.fox-port-2 {
  grid-row: 5 / 9;
}

.fox-land-2 {
  grid-row: -1 / -5;
}

#fox .look-port-1 {
  grid-column: -1 / -4;
  grid-row: 1 / 7;
}

#fox .look-port-2 {
  grid-column: 1 / 4;
  grid-row: 4 / 9;
}

#fox .look-land-1 {
  grid-column: 3 / 5;
  grid-row: 6 / 9;
}

#fox .look-land-2 {
  grid-column: 1 / 4;
  grid-row: -1 / -5;
}

#fox .look-port-3 {
  grid-column: -1 / -4;
}

/************ LUNATIC STYLES ************/

.luna-bg {
  background: var(--luna-dark) url('../assets/bg/blank-shirt-png.png') fixed no-repeat center;
  background-size: contain;
}

.luna {
  color: var(--luna-light);
}

.luna-logo {
  fill: var(--luna-light);
}

/* CARD GRID STUFF */

#luna .design-port-1 {
  grid-column: -1 / -2;
}

#luna .design-port-2 {
  grid-column: -1 / -4;
  grid-row: -1 / -7;
}

#luna .design-port-4 {
  grid-row: -1 / -5;
}

#luna .design-land-1 {
  grid-column: 1 / -2;
  grid-row: 4 / 7;
}

#luna .design-land-2 {
  grid-column: 1 / 2;
  grid-row: 7 / 9;
}

#luna .design-port-3 {
  grid-column: 2 / 3;
  grid-row: 7 / 9;
}

/************ FOOLS STYLES ************/

.fools-bg {
  background: white url('../assets/bg/blank-shirt-png.png') fixed no-repeat center;
  background-size: contain;
}

.fools {
  color: var(--fools-purple);
}

.design-details .fools:hover,
.design-details .fools:focus {
  color: var(--fools-cyan);
  cursor: pointer;
}

.fools-logo {
  fill: var(--fools-purple);
}

/* CARD GRID STUFF */

#fools .design-land-2 {
  grid-column: -1 / -2;
  grid-row: 4 / 6;
}

#fools .design-port-3 {
  grid-column: -1 / -3;
  grid-row: -1 / -4;
}

#fools .design-port-4 {
  grid-column: 1 / 5;
}

#fools .look-port-2 {
  grid-row: 4 / 9;
}

#fools .look-port-3 {
  grid-column: 1 / 4;
  grid-row: -1 / -5;
}

#fools .look-land-1 {
  grid-row: 5 / 9;
}

#fools .look-land-2 {
  grid-column: -1 / -4;
  grid-row: -1 / -5;
}

/***************** CONTACT SECTION STYLES *****************/

.contact-bg {
  background: var(--dark-blue) url('../assets/bg/blank-shirt-png.png') fixed no-repeat center;
  background-size: contain;
  padding-bottom: 2rem;
}

.contact {
  color: var(--bright-yellow);
}

.contact-logo {
  fill: var(--bright-yellow);
}

.contact-sub {
  min-height: 150vh;
  margin-bottom: 10rem;
}

.subtitle {
  margin-bottom: 27rem;
}

.contact-beep {
  display: block;
  text-align: center;
  margin-bottom: 15rem;
}

form {
  position: sticky;
  top: 20vh;
}

.form-label {
  display: block;
  margin-bottom: .5em;
}

.form-field {
  width: 100%;
  padding: .5em 1em;
  margin-bottom: 2em;
  background-color: rgba(227, 146, 76, .7);
  color: var(--dark-blue);
  border: none;
  border-radius: .3em;
}

.form-field:last-of-type {
  margin-bottom: 1em;
}

.form-field:focus {
  background-color: var(--bright-yellow);
}

.form-send {
  width: 100%;
  font-family: 'Squada One', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: var(--bright-yellow);
  color: var(--dark-blue);
  padding: .25em 1em;
  border: none;
  border-radius: 1000px;
  transition: all .15s ease-out;
}

.form-send:hover,
.form-send:focus {
  color: var(--bright-yellow);
}

/****************** SOCIAL LINKS STYLES ******************/

.contact-social {
  margin-bottom: 0;
}

.contact-social .subtitle {
  margin-bottom: 30rem;
}

.social-links {
  position: sticky;
  top: 20vh;
  text-align: center;
  /* margin-bottom: 15rem; */
}

.social-link-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.social-logo {
  width: 2rem;
  height: auto;
  fill: var(--bright-yellow);
  display: block;
  margin-bottom: .75em;
}

.social-link:hover{
  transform: translateY(var(--link-hover));
  transition: all .25s ease-in;
}

.social-line {
  color: var(--bright-yellow);
  line-height: 1.3;
}

.social-stress {
  text-transform: uppercase;
  font-size: 1.2em;
}


/********************* FOOTER STYLES *********************/

.footer-bg {
  background: #1A1A1A url('../assets/bg/blank-shirt-png.png') fixed no-repeat center;
  background-size: contain;
  background-blend-mode: multiply;
}

.footer {
  color: var(--bright-yellow);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 1em;
}

.footer-logo {
  fill: var(--bright-yellow);
  display: block;
  margin: 0 auto;
}

.logo-name-1 {
  width: min(80%, 500px);
}

.logo-name-2 {
  height: 0;
}

#footer .logo {
  height: 3.5rem;
  width: auto;
}

.footer-text {
  font-size: .8em;
  margin: 0 auto;
  line-height: 1.6;
}

@media (min-width: 27.5rem) {
  .design-details-item {
    background-color: var(--bright-yellow);
  }
}


@media (min-width: 50rem) {
  

  .design-details {
    text-align: left;
    top: 50vh;
    width: max-content;
    margin: 0;
    /* display: inline-block;
    top: calc(50vh - 2rem);
    
    margin-bottom: 0; */
  }

  .design-details-item {
    background-color: transparent;
    /* width: max-content;
    text-align: left; */
  }

  .cta-cont {
    flex-direction: column;
    width: max-content;
    margin: 0;
  }

  .card {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}